<!-- templates/home.html --> 
 
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>COMP2001 CW2</title>
</head>
<body>
   <h1>
       Trails!
   </h1>
   
   {% for trail in trails %}
   <h2>{{trail.TrailName}}</h2>
   <h3> {{ trail.Users.Email_Address }}</h3>
   <ul>
      <h3> Features </h3>
      {% for feature in trail.features %}
      <li>
         {{ feature.TrailFeature }}
      </li> 
      {% endfor %}
      <h3> Location Points </h3>
      {% for point in trail.locationpoints %}
      <li>
         {{ point.Description}}
      </li>
      {% endfor %}
   </ul>
   {% endfor %}
   
</body>
</html>